@font-face {
    font-family: 'NunitoSans';
    src: url('/src/assets/fonts/NunitoSans/NunitoSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('/src/assets/fonts/NunitoSans/NunitoSans-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('/src/assets/fonts/NunitoSans/NunitoSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('/src/assets/fonts/NunitoSans/NunitoSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('/src/assets/fonts/NunitoSans/NunitoSans-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CinzelDecorative';
    src: url('/src/assets/fonts/CinzelDecorative/CinzelDecorative-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CinzelDecorative';
    src: url('/src/assets/fonts/CinzelDecorative/CinzelDecorative-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CinzelDecorative';
    src: url('/src/assets/fonts/CinzelDecorative/CinzelDecorative-Black.otf');
    font-weight: 900;
    font-style: normal;
}